.jumbot {
    background-image: url(https://1.downloader.disk.yandex.ru/preview/1287c6753655f536a628d45f4653ee2a55740f58e4fb926579ec0bd6e07e11b4/inf/mLNW1hMzAnY7SZoW7pXjLGM5EtjoS-mhJSqhnZgAXsW86_FRux9-3kSOk5lP9c4rIS2amlFCor5fbkCehcbFEA%3D%3D?uid=1289017746&filename=aupair0.jpeg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1289017746&tknv=v2&size=1898x902);
    opacity: 0.85;
    width: 100%;
    height: 750px;
    color: white;
    background-size: 1600px 1000px;
}

.div {
    opacity: 21;
    color: white;
    background-color: black;
    font-weight: bold;
}

.mt {
    margin-top: 25%;
    margin-left: 12px;
}

.h1aupair {
    font-weight: bold;
    font-size: 50px;
    background-color: black;
    display: inline-block;
}

.paupair {
    font-weight: bold;
    font-size: 22px;
    background-color: black;
    display: inline-block;
}

.h2aupair {
    text-align: center;
    font-size: 45px;
    font-family: 'Martel', serif;
}

.div2aupair {
    font-family: 'Martel', serif;
}

.h0aupair {
    text-align: center;
    font-size: 50px;
}

.imgausl {
    width: 700;
    height: 300px;
    position: absolute;
    top: 3.5%;
    left: 54%;
}

.zweiteDiv {
    font-size: 15px;
    line-height: 24.6px;
    position: relative;
    width: 100%;
    height: 420px;
}