.titlepraktikum {
    font-size: 42px;
}

.textpraktikum {
    font-size: 24px;
}

.imgpraktikum {
    width: 100%;
    height: 600px;
    background-size: 1200px 800px;
}

.Praktikum {
    width: 100%;
    height: 600px;
}