.erster{
    width: 100%;
    height: 550px;
    /* background-image: url(http://wp.widewallpapers.ru/2k/cities/london/1920x1200/London-1920x1200-145.jpg); */
    background-position: center;
    background-size: 1200px 600px;
}
.perster{
    font-size: 60px;
    color:white;
    text-indent: 4%;
    font-family: 'Martel', serif;
}
.p2erster{
    font-family: 'Charmonman', cursive;
    font-size: 50px;
    color:white;
    text-indent: 4%;
}
