.mt2 {
    margin-top: 42%;
}

.landtext {
    font-size: 40px;
    color: white;
    background-color: #008080;
}

.landtitle {
    font-size: 30px;
    color: white;
    background-color: #008080;
}

.landjumb {
    background-image: url(https://1.downloader.disk.yandex.ru/preview/25405c97f5410b111a9200ae90c1292d712baeeaf943d65d6675dc1621049b38/inf/5fxALQcaDRU6W_i6KcSeMeHVoEIe8z_OO1qdQsj_Bj8iaZxBThP-yS5Mf_RD9gy4EUqGtlBstmlbcJC_TRfBmw%3D%3D?uid=1289017746&filename=land0.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1289017746&tknv=v2&size=1898x902);
    background-size: 1200px 900px;
    width: 100%;
    height: 700px;
}